<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="../assets/images/angular.png">
                </div>
            </div>
            <form ng-submit="vm.authenticate()">
                <div class="form-group">
                    <label for="IuserName">Email address</label>
                    <input  type="email" 
                            class="form-control" 
                            id="IuserName" 
                            ng-model="vm.user.email"
                            placeholder="Enter your Email Address">
                </div>
                <div class="form-group">
                    <div class="pull-left">
                        <label for="Ipassword">Password</label>
                    </div>
                    <div class="pull-right text-right">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <input  type="password" 
                            class="form-control" 
                            id="Ipassword" 
                            ng-model="vm.user.password"
                            placeholder="Enter your Password">
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button>
            </form>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-link btn-block">Forgot Password?</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <span>Don't have an account?</span>
                    <a href="#" ui-sref="signup">Sign Up</a>
                </div>
            </div>
            <button ng-click="vm.githubAuth()">Github</button>
        </div>
    </div>
</div>
