<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="#">Eventngular</a>
        <form class="form-inline pull-xs-left m-l-2">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-success-outline" type="submit">Search</button>
        </form>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Username</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-xs-right m-t-1">
            <button type="button" class="btn btn-primary" ng-click="vm.createEvent()">Create Event</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 m-t-1" ng-repeat="event in vm.eventList">
            <div class="card">
                <img class="card-img-top" data-src="..." alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{ event.name }}</h4>
                    <div class="card-text">
                    	<div>{{ event.datetime }}</div>
                    	<div>{{ event.location }}</div>
                    	<div>{{ event.attendies }} Guests</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
